/* header realetd styles */
.header{
    background-color: rgba(229, 84, 115, 0.10);
}

.banner{
    padding: 30px 30px 30px 150px;
display: flex;
justify-content:space-around;

}

.banner-button{
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.section-title{

}
/* 2ns section*/

/* 3rd section */
.flowers{
   color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 0;
    margin: 0;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: flex;
    text-align: center;
  }

/* service related styles */
.services-container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
width: 1440px;
height: 320px;
flex-shrink: 0;
   
}
.service{
    padding 0px;
}

/* forth related styles */
.section4{
    padding:150px;
    display: flex;
    justify-content:center;
    background-color: rgba(229, 84, 115, 0.10);
    
}
.section4-button{
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #E55473;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
/* instagram related styles */
.instagram{
    padding: 5px;
    margin : 5px;
    background: #FFF;
    text-align: center;


}

/* footer related styles */
.footer{
    background-color:#111010;
    text-decoration-color: #3d3c3c;
   
    display: flex;
    justify-content: space-around;
    color: #FFF;
    text-align: center;
}
  .pink-color
    {
        color: #E55473;
    }
  
